.nav {
  background-color: #fff;
  padding: 4rem;
  padding-top: 20px;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  animation: slideDown 1s;

  &Logo {
    width: 8rem;
    height: 4rem;
  }
}

.navBackBtn {
  cursor: pointer;
  &::after {
    content: "";
    display: block;
    width: 0;
    transition: all 0.4s;
    height: 1px;
    background-color: black;
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
  span {
    color: var(--primary-color);
    font-size: 1.2rem;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
