.nav {
  background-color: #fff;
  padding: 4rem;
  padding-top: 20px;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  animation: slideDown 1s;

  &Logo {
    width: 8rem;
    height: 4rem;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
