.project {
  min-height: 100vh;
  padding-top: 10rem;

  &Display {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 2rem;
    width: 85%;
    justify-content: center;
    margin: 0 auto;
    position: relative;

    &Body {
      animation: slideUp 1s;
      h1 {
        font-size: 3rem;
        margin-bottom: 3rem;
      }
      p {
        font-size: 1.2rem;
        line-height: 1.5;
      }
      @media (max-width: 1100px) {
        grid-row: 2;
      }
    }

    &Imgs {
      position: relative;
    }
    &Img {
      height: 100%;
      width: 100%;
      z-index: 100;
      position: relative;
      animation: fadeIn 1s;
      animation-delay: 1s;
      animation-fill-mode: backwards;
      transition: all 0.4s;
    }
    @media (max-width: 1100px) {
      grid-template-columns: 1fr;
    }
  }
}

.keyFeatures {
  margin-top: 4rem;
  display: flex;
  h4 {
    font-size: 1.4rem;
    padding-right: 2rem;
    border-right: 1px solid black;
  }
  &Lists {
    margin-left: 1rem;
  }
  &List {
    margin-bottom: 1rem;
  }
}

.download {
  display: flex;
  margin-bottom: 4rem;
  cursor: pointer;

  a {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 1rem;
    align-items: center;

    svg {
      font-size: 2rem;
      margin-right: 1rem;
    }
    p {
      text-transform: uppercase;
      font-size: 0.9rem;
      font-weight: 500;
    }
    span {
      font-weight: bold;
    }
  }
}

.background {
  border-radius: 100rem;
  width: 50vw;
  height: 50vw;
  max-width: 580px;
  max-height: 580px;
  position: absolute;
  left: 6rem;
  top: 6rem;

  animation: backgroundScale 1s;
  @media (max-width: 1400px) {
    max-width: 480px;
    max-height: 480px;
  }
  @media (max-width: 1200px) {
    max-width: 400px;
    max-height: 400px;
  }
  @media (max-width: 1100px) {
    max-width: 580px;
    max-height: 580px;
  }
}
.btns {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
}
.btn {
  height: 7rem;
  width: 7rem;
  position: absolute;
  top: 40%;
  left: 0;
  border-radius: 50%;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1rem;
  color: white;
  margin-left: -4rem;
  cursor: pointer;
  transition: all 0.4s;
  font-size: 1.2rem;
  &:hover {
    transform: scale(1.2);
    box-shadow: 0 5px 25px 0 rgb(0 0 0 / 40%), 0 5px 5px 0 rgb(0 0 0 / 20%);
  }

  @media (max-width: 600px) {
    position: static;
    margin: 0 !important;
    justify-content: center !important;
    align-items: center !important;
  }
}
.nextBtn {
  left: unset;
  right: 0%;
  justify-content: flex-start;
  padding-left: 1rem;
  margin-right: -4rem;
}

.navigation {
  display: flex;
  width: max-content;
  margin: 0 auto;
  &List {
    height: 12px;
    width: 12px;
    display: block;
    background: #cacaca;
    border-radius: 50%;
    margin-right: 0.8rem;
    cursor: pointer;
  }
}

.activeImg {
  background-color: var(--primary-color);
}

@keyframes backgroundScale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(4rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(4rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
